In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('pandas_tutorial_read.csv',delimiter=';', names = ['my_datetime','event','country', 'user_id', 'source','topic'])

In [3]:
df

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [ ]:
url = 'http://localhost:8889/edit/Desktop/Python/Study%20group/pandas_tutorial_read.csv'
column_names = ['my_datetime','event','country', 'user_id', 'source','topic']
df1 = pd.read_csv(url, delimiter=';', names = column_names)

In [ ]:
df.tail()

In [ ]:
#a few random lines by typing:
df.sample(10)

In [ ]:
# why double bracket frames? - the outer bracket frames tell pandas that you want to select columns and the inner brackets are for the list of the column names
df[['country', 'user_id']]

In [ ]:
# to get Series objects instead of DataFrame
df['user_id']

In [ ]:
#Filter for specific values in your dataframe
df.source == 'SEO'

In [ ]:
#print every row where value is true and doesn't print any row where it is False
df[df.source == 'SEO']

In [ ]:
# Functions can be used after each other
# Pandas's logic is linear: if you apply a function, you can always apply another one on it. 
# the input of the latter function will always be the output of the previous function

df.tail()[['country', 'user_id','topic']]
# the first selects the first 5 rows of our data set and then it takes only the 'country' and 'user_id' columns
# reverse way is acceptable as well

In [ ]:
#homework: select the user_id, the country and the topic columns for the users who are from country 2!
#print the first five rows only
df[df.country == 'country_2'][['user_id', 'country','topic']].head()

In [ ]:
#alternative way
df_filter = df[df.country == 'country_2']
df_filter_colmn = df_filter[['user_id', 'country','topic']]
df_filter_colmn.head()

In [ ]:
#aggregation: the process of turning the values of a data set into one single value
df_animal = pd.read_csv('zoo.csv')

In [ ]:
df_animal

In [ ]:
#Aggregation: .count() showing number of values in each column
df_animal.count()

In [ ]:
df_animal[['animal']].count()

In [ ]:
#Aggregation: .sum() . min() .max() .mean() .median()
print (df_animal[['water_need']].sum())
print (df_animal[['water_need']].min())
print (df_animal[['water_need']].max())
print (df_animal[['water_need']].mean())
print (df_animal[['water_need']].median())

In [ ]:
#Pandas .groupby action
df_animal.groupby('animal').mean()

In [ ]:
df_animal.info()

In [ ]:
df_animal.groupby('animal').mean().[['water_need']]

In [ ]:
def water2(yah):

    if yah > 600: return '1'

    elif 450 < yah <= 600: return '2'

    elif 200 < yah <= 450: return '3'

    elif 0 < yah <= 200: return '4'

    else: return 'None'
 

df_animal["Code"] = df_animal['water_need'].map(water2)

df_animal.head()

In [ ]:
#Test: using article dataset - what is the most frequent source in the article_read dataframe?
df.groupby('source').count()

In [ ]:
df.head()

In [ ]:
df_filter = df[df.country == 'country_2']
df_filter.groupby(['source','topic']).count()

In [ ]:
#Pandas Merge

df_animal.head()

In [ ]:
df_eat = pd.read_csv('zoo_eat.csv')
df_eat.head()

In [ ]:
df_animal.merge(df_eat, how = 'left')

In [ ]:
df_animal.merge(df_eat, how = 'left', left_on = ['animal'], right_on=['animal'])

In [ ]:
df_animal.merge(df_eat, how = 'left', left_on = ['animal'], right_on=['animal']).fillna('unknown')

In [ ]:
df_animal.sort_values(by =['animal','water_need'])

In [ ]:
df_animal.sort_values(by = ['water_need'], ascending = False)

In [ ]:
df_animal.sort_values(by = ['water_need'], ascending = False).reset_index(drop=True)

In [10]:
url = 'https://raw.githubusercontent.com/jeolmuni/jeolmuni/master/test.csv'
df_100 = pd.read_csv(url)

In [11]:
df_100.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S